{% extends "padre.html" %}

{% block contenidoQueCambia %}


<form method="post" action="{% url 'inicio' %}"> {% csrf_token %}

    <label for="opcion_seleccionada">Selecciona una opción:</label>
    <select id="opcion_seleccionada" name="opcion_seleccionada">
      <option value="opcion1">Cursos</option>
      <option value="opcion2">Estudiantes</option>
      <option value="opcion3">Profesores</option>
    </select>
    <button type="submit">Enviar</button>
  </form>


{% endblock contenidoQueCambia %}