{% extends "padre.html" %}

{% block contenidoQueCambia %}



    <h1>Buscar en la Base de Datos</h1>
    <form method="GET" action="{% url 'inicio' %}">

        <label for="busqueda">Búsqueda:</label>
        <input type="text" id="busqueda" name="busqueda" required>
        
        <label for="tipo_busqueda">Tipo de Búsqueda:</label>
        <select id="tipo_busqueda" name="tipo_busqueda" required>
            <option value="curso">Curso</option>
            <option value="usuario">Usuario</option>
            <option value="profesor">Profesor</option>
        </select>
        
        <button type="submit">Buscar</button>
    </form>


{% endblock contenidoQueCambia %}