<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="/webapp/">inicio</a>
        <a class="navbar-brand" href="{% url "lista_cursos" %}">lista cursos</a>
        <a class="navbar-brand" href="{% url "profesores" %}">Profesores</a>
        <a class="navbar-brand" href="{% url "CursoFormulario" %}">Cursos</a>
        <a class="navbar-brand" href="{% url "estudiantes" %}">Estudiantes</a>
        <a class="btn btn-primary" href="#signup"> Iniciar sesion</a>
    </div>
</nav>